<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Страница 2</title>
</head>
<body>
 <% include header.ejs %>

    <h2>Страница 2</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex vero praesentium ut eos illo, unde sed alias ipsum ratione quibusdam. Obcaecati odio delectus esse nostrum, atque at eligendi laudantium molestiae. Possimus iusto vero exercitationem dolorem natus, unde culpa, sunt, obcaecati veritatis fuga incidunt temporibus minus illo nobis explicabo. Est, saepe?</p>
</body>
</html>